input {
{% if logstash_input_syslog %}
  syslog {
    port => 5514
    type => "syslog"
  }
{% endif %}
{% if logstash_input_collectd %}
  udp {
    codec => "collectd"
    port => 25826
    type => "collectd"
  }
{% endif %}
}

output {
{% if logstash_output_stdout %}
  stdout { }
{% endif %}
{% if logstash_output_logentries %}
  logentries {
    token => "{{ logstash_logentries_token }}"
  }
{% endif %}
}
