input {
{% if logstash_input_log4j %}
  log4j {
    mode => "server"
    port => 4560
    type => "log4j"
  }
{% endif %}
{% if logstash_input_docker %}
  file {
    path => "{{ logstash_docker_logs }}/*/*-json.log"
    type => "docker_log"
  }
{% endif %}
{% if logstash_input_mesos %}
  file {
    path => "{{ logstash_mesos_logs }}/*"
    type => "mesos_log"
  }
{% endif %}
{% if logstash_input_syslog %}
  syslog {
    port => 5514
    type => "syslog"
  }
{% endif %}
{% if logstash_input_collectd %}
  udp {
    codec => "collectd"
    port => 25826
    type => "collectd"
  }
{% endif %}
}

output {
{% if logstash_output_webhdfs %}
  webhdfs {
    workers => 2
    server => "{{ webhdfs_host }}:{{ webhdfs_port }}"
    user => "{{ webhdfs_user }}"
    path => "/logs/%{host}/logstash-%{+YYYY-MM-dd}.log"
    flush_size => 500
    compress => "gzip"
    idle_flush_time => 10
    retry_interval => 0.5
    retry_times => 3
  }
{% endif %}
{% if logstash_output_logentries %}
  logentries {
    token => "{{ logstash_logentries_token }}"
  }
{% endif %}
}
